*{
    box-sizing: border-box;
}
.left_header{
    margin-top:20px;
   height:120px;
   padding-top:15px;
   width:220px;
   padding-left:-20px;
    margin-left:45px;
}

.left_header h1{
   border:2px solid #fff;
   color:#fff;
  width:70%;
   font-size:20px;
   text-align: center;
    margin:0 auto;
   padding: 5px;
   font-weight: normal;
   font-family: 'Roboto', sans-serif;
   line-height:1;
   
}
.left_header label{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:#FF4F81;
   
}