.staffContainer{
    
    width:90%;
    margin:0 auto;
    height:400px;
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-gap:10px;
}

.staffContainer .staffs{
    overflow:hidden;
}
.staffContainer .imgContainer{
    height:75%;
    background-image: url(../images/33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-rows:2fr;
    grid-template-columns: auto;  

}

.staffContainer .staffs .staffDetail{
    background:#FF4F81;
    height:25%;
    padding-top: 15px;
    font-family: 'Roboto',sans-serif;
    z-index:100;
}

.staffContainer .staffs .staffDetail h5{
    font-style: bold;
    color:#000;
    font-size:19px;
    font-weight: 600;
}
.staffContainer .staffs .staffDetail h6{
font-weight:500;
color:#fff;
font-size:15px;
}

.staffContainer .imgContainer .media_handle>h6{
 color:#fff;
    font-weight: 300;
    width:80%;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: 'Robot',sans-serif;
    text-align: center;
    margin:0 auto;
}
.staffContainer .imgContainer .media_handle{
    height:100px;
    background-color:rgba(0, 0,0, 0.5);
    grid-row:3/4;
    grid-column:1/2; 
    padding-top:15px;
    transform: translateY(200px);
    transition:transform 400ms;
    z-index:2;
}
.staffContainer .imgContainer .media_handle .mdicon{
    margin-top:10px;
}
.staffContainer .imgContainer .media_handle .mdicon i{
   color:#095880;
   background-color:#fff;
   font-size:12px;
  border-radius:12px;
  padding:6px;
  text-align: center;
  margin:5px;
}

.staffContainer .imgContainer .media_handle .mdicon i:hover{
    font-size:13px;
    border-radius:12px;
    padding:7px;
    margin:6px;
}